@model IEnumerable<EyeCT4RailsWeb.Models.Tram>
@{
    ViewBag.Title = "Index";
}

<h2>Overzicht van de remise</h2>

@Html.Partial("BlokkeerSpoorPartialView")
<br/>
@Html.Partial("VerplaatsTramPartialView")