@model IEnumerable<EyeCT4RailsWeb.Models.Tram>
@{
    ViewBag.Title = "Index";
}

<h2>Overzicht van de remise</h2>

<p>Blokkeren van een spoor</p>
@Html.Partial("BlokkeerSpoorPartialView")
<br/>
<p>Verplaatsen van een tram:</p>
@Html.Partial("VerplaatsTramPartialView")
<br/>
<p>Uirijden van een tram:</p>
@Html.Partial("UitrijdenPartialView")
<br/>
<p>Inrijden van een tram:</p>
@Html.Partial("InrijdenPartialView")