@using EyeCT4RailsWeb.Models

@{
    ViewBag.Title = "Index";
}

<h1>EyeCT4 Rails</h1>

<p>Login om toegang te krijgen het Remisesysteem.</p>

<form method="post" id="loginform" class="form-group">
    
        <label>Gebruikersnaam:</label>
        <input name="gebruikersnaam" />
    
        <br />
    <label>Wachtwoord:</label>
    <input name="wachtwoord" type="password" />
    <br />
    <input type="submit" value="Submit" />
</form>

