<form class="form-horizontal" method="post" action="/Remise/Blokkeer">
    <label>Spoor ID:</label>
    <input class="form-control" type="number" name="blokkeer_spoor" />
    <label>Sector Nummer:</label>
    <input class="form-control" type="number" name="blokkeer_sector" />
    <br />
    <input class="btn btn-default" type="submit" value="Blokkeer/Deblokkeer"/>
</form>
