<form method="post" action="/Remise/Blokkeer">
    <label>Spoor ID:</label>
    <input type="number" name="blokkeer_spoor" />
    <br />
    <label>Sector ID:</label>
    <input type="number" name="blokkeer_sector" />
    <br />
    <input type="submit" value="Blokkeer/Deblokkeer"/>
</form>
