<form method="post" action="/Remise/Uitrijden">
    <label>Tram ID:</label>
    <input class="form-control" type="number" name="tram_id" />
    <br />
    <input class="btn btn-default" type="submit" value="Tram uitrijden" />
</form>
