<form method="post" action="/Remise/Verplaats">
    <label>Tramnummer</label>
    <input type="number" name="tram_id" />
    <br />
    <label>Nieuw Spoor</label>
    <input type="number" name="nieuw_spoor" />
    <label>Nieuwe Sector</label>
    <input type="number" name="nieuwe_sector" />
    <br />
    <input type="submit" value="Verplaats tram" />
</form>
