<form class="form-horizontal" method="post" action="/Remise/Verplaats">
    <label>Tramnummer:</label>
    <input class="form-control" type="number" name="tram_id" required="required" />
    <label>Nieuw Spoor:</label>
    <input class="form-control" type="number" name="nieuw_spoor" required="required" />
    <label>Nieuwe Sector:</label>
    <input class="form-control" type="number" name="nieuwe_sector" required="required" />
    <br />
    <input class="btn btn-default" type="submit" value="Verplaats tram" />
</form>
