@using EyeCT4RailsWeb.Models
@model Gebruiker


<h2>Nieuwe Gebruiker</h2>
<br />
<p>Vul hieronder de gegevens van de nieuwe gebruiker in.</p>

<form method="post">

    <label>Gebruikersnaam:</label>
    <input name="gebruikersnaam" />

    <label>Password:</label>
    <input name="wachtwoord" type="password" />

    <label>Functie:</label>
    <select name="functie">
        @foreach (Functie func in Enum.GetValues(typeof(Functie)))
        {
            <option value="@func.ToString()">@func.ToString()</option>
        }
    </select>

    <input type="submit" value="Submit" />

</form>

